<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>624444305980-2la44jcn30gcibq6agejvbdbgtdkrn3u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.624444305980-2la44jcn30gcibq6agejvbdbgtdkrn3u</string>
	<key>API_KEY</key>
	<string>AIzaSyDIIKc_8QiS3Y5ikPM-k1YBIYFzV-FNcbs</string>
	<key>GCM_SENDER_ID</key>
	<string>624444305980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MyApp.OgiriSNS</string>
	<key>PROJECT_ID</key>
	<string>ogirisns</string>
	<key>STORAGE_BUCKET</key>
	<string>ogirisns.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:624444305980:ios:c2de0418e8b9c37dcf0939</string>
</dict>
</plist>